// reseteo css

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



// Fuentes

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Nunito+Sans:wght@300;400;600;700;800&family=Work+Sans:wght@500;600;700;800&display=swap');

@font-face {
    font-family: Bacalisties;
    src: url(../Assets/FONTS/Bacalisties.ttf);
}

@font-face {
    font-family: MuseSans;
    src: url(../Assets/FONTS/MuseoSans-500.otf);
    font-weight: 500;
}

@font-face {
    font-family: MuseSans;
    src: url(../Assets/FONTS/MuseoSans-700.otf);
    font-weight: 700;
}

// Variables

$color1: #0D223F;
$color2: #fff;
$fontTitulo: MuseSans;
$fontNunito: 'Nunito Sans', sans-serif;
$fontConsulting: Bacalisties;

// Link

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: $color2;
}

// index mobile

.arriba {
    height: 120px;

    .divLogoArriba {
        display: inline-block;

        .imgLogoArriba {
            width: 130px;
            margin: 20px 10px 10px 10px;
            top: 0;
            left: 0;
        }
    }

    .divRedes {
        float: right;
        margin: 35px 0px 0px 0px;

        .fa-brands {
            font-size: 30px;
            color: $color1;
            margin: 10px;
        }

        .fa-solid {
            font-size: 30px;
            color: $color1;
            margin: 10px;
        }
    }
}

// nav mobile 

.navbar {
    background: $color1 !important;

    .navbar-toggler {
        border: 1px solid $color2;

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }

    .nav-link {
        color: $color2;
        font-family: $fontTitulo;
        font-size: 21px;
    }

    .nav-link:hover {
        color: $color2;
        font-size: 22px;

    }
}

// contenido index mobile

.divLogoInicio {
    text-align: center;

    .logoInicio {
        width: 250px;
        margin-top: 25px;
    }
}


.inicio {
    text-align: center;

    .h1Inicio {
        margin: auto;
        font-family: $fontTitulo;
        font-size: 27px;
        text-align: justify;
        text-align-last: center;
        padding: 35px 0px 25px 0px;
        color: $color1;
        width: 90%;
        font-weight: 500;
    }

    .pInicio {
        font-family: $fontNunito;
        margin: auto;
        padding: 10px 0px 30px 0px;
        text-align: left;
        font-size: 22px;
        color: $color1;
        width: 90%;
        line-height: 32px;
        font-weight: 500;
    }

}

hr {
    margin: auto;
    height: 3px;
    background-color: $color1;
    width: 85%;
    text-align: center;
    opacity: 1;
}

.ultimoEpisodio {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: center;

    .h2UltimoEpisodio {
        font-family: $fontTitulo;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        color: $color1;
        text-align: left;
        margin-bottom: 15px;
    }

    .imgUltimoEpisodio {
        width: 280px;
        text-align: center;
    }

    .h3UltimoEpisodio {
        font-family: $fontNunito;
        color: $color1;
        font-size: 26px;
        margin: 25px 0px 15px 0px;
        text-align: left;
        font-weight: 700;
    }

    .playerUltimoEpisodio {
        margin-bottom: 25px;
    }

    .h4UltimoEpisodio {
        font-family: $fontNunito;
        font-size: 22px;
        color: $color1;
        font-weight: 700;
        text-align: left;
    }

    .pUltimoEpisodio {
        font-family: $fontNunito;
        font-size: 20px;
        color: $color1;
        line-height: 35px;
        margin: 25px 0px 25px 0px;
        text-align: left;
        font-weight: 500;
    }
}

// footer mobile 

.footer {
    text-align: center;
    background-color: $color1;
    color: $color2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    margin-top: 50px;
    padding: 10px;

    .pFooter {
        font-family: $fontTitulo;
        font-size: 16px;
        font-weight: 500;
        color: $color2;
        margin-bottom: 0;

    }

    .imgFooter {
        width: 90px;
    }

    .aFooter {
        color: $color2;
        font-family: $fontTitulo;
        font-size: 16px;
        font-weight: 500;
    }
}

// episodios.html (MOBILE) 

.h1Episodios {
    font-family: $fontTitulo;
    text-align: center;
    font-size: 50px;
    color: $color1;
    margin: 55px;
    font-weight: 700;
}

// Barra buscar 

.buscar {
    text-align: center;
    margin-bottom: 100px;

    .buscarEpisodio {
        padding: 15px;
        border-radius: 0px;
        border: solid 1px black;
        font-family: $fontNunito;
        font-size: 20px;
    }

    .botonBuscar {
        background-color: $color1;
        color: $color2;
        padding: 15px;
        font-family: $fontNunito;
        border: solid 1px #000;
        font-size: 20px;
        width: 100px;
    }
}

// Episodios 

.episodios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-gap: 20px;

    .divEpisodios {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 65% 10%;
        background-color: $color1;
        border-radius: 20px;
        padding: 25px;
        height: 400px;
        width: 75%;
        place-self: center center;

        .h3Episodios {
            font-family: $fontTitulo;
            color: $color2;
            text-align: center;
            padding: 0px 10px 10px 10px;
            font-size: 18px;
            font-weight: 700;
        }

        .pEpisodios {
            font-family: $fontNunito;
            color: $color2;
            margin-top: 40px;
            padding-bottom: 20px;
            margin-bottom: 5px;
            font-size: 17px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 8;
            overflow: hidden;
        }


        .aEpisodios {
            display: inline-block;
            font-family: $fontNunito;
            text-decoration: none;
            color: $color2;
            font-size: 15px;
            font-weight: 700;
        }
    }
}

// Sobre Nosotros 

.sobreNosotros {
    width: 100%;
    margin: auto;
    text-align: center;

    .h1SobreNosotros {
        font-family: $fontTitulo;
        text-align: center;
        font-size: 50px;
        color: $color1;
        margin: 45px;
        font-weight: 700;
    }

    .imgMarc {
        width: 85%;
        box-shadow: 10px 10px 5px 0px #adadad;
        margin: 0px 0px 15px 0px;
    }

    .imgAlfredo {
        width: 85%;
        box-shadow: 10px 10px 5px 0px #adadad;
        margin: 50px 0px 15px 0px;
    }

    .imgAna {
        width: 85%;
        box-shadow: 10px 10px 5px 0px #adadad;
        margin: 50px 0px 15px 0px;
    }

    .divNosotros {
        background-color: $color1;
        width: 85%;
        margin: auto;
        box-shadow: 10px 10px 5px 0px #adadad;

        .h2Nosotros {
            color: $color2;
            margin: 25px 0px 0px 0px;
            padding: 25px 0px 0px 0px;
            font-size: 40px;
        }

        .pNosotros {
            color: $color2;
            margin: 25px;
            padding: 25px;
            font-size: 20px;
        }
    }
}

// marc_jospitre_consulting.html 

.jospitreConsulting {
    width: 90%;
    margin: auto;

    .h1AcercaMarc {
        font-family: $fontConsulting;
        text-align: center;
        font-size: 40px;
        color: $color1;
        margin: 25px;
        font-weight: 700;
    }

    .pAcercaMarc {
        color: $color1;
        font-size: 15px;
    }

    .h2LosImparables {
        font-family: $fontConsulting;
        text-align: center;
        font-size: 40px;
        color: $color1;
        margin: 25px;
        font-weight: 700;
    }

    .h2HistoriaMarc {
        font-family: $fontConsulting;
        text-align: center;
        font-size: 40px;
        color: $color1;
        margin: 25px;
        font-weight: 700;
    }
}

.divVideo {
    margin: auto;
    text-align: center;
    margin-bottom: -20px;

    .videoMarc {
        width: 90%;
        border-radius: 10px;
    }
}

// Deja consulta 

.h1Consulta {
    color: $color1;
    font-family: $fontTitulo;
    text-align: center;
    font-size: 40px;
    color: $color1;
    margin: 50px 25px 35px 25px;
    font-weight: 700;
}

.pConsulta {
    font-family: $fontNunito;
    color: $color1;
    font-size: 20px;
    text-align: center;
    margin: 15px;
    font-weight: 700;
}

.contacto {
    margin: 35px;
    background-color: $color1;
    color: $color2;
    padding: 10px;

    .formContacto input,
    .formContacto textarea {
        width: 100%;
        padding: 10px;
        border: none;
        background: none;
        border-bottom: 1px solid $color2;
        outline: none;
        color: $color2;
        font-family: $fontNunito;
    }

    .formContacto label {
        font-size: 20px;
        font-family: $fontNunito;
        color: $color2;
        font-weight: 700;
    }

    .buttonContacto {
        width: 100%;
        padding: 10px;
        border: none;
        background: $color2;
        border-bottom: none;
        outline: none;
        color: $color1;
        font-size: 20px;
        font-weight: 700;
        font-family: $fontNunito;
    }
}

@media only screen and (min-width: 768px) {

    // index tablet 

    .arriba {
        height: 120px;

        .divLogoArriba {
            display: inline-block;

            .imgLogoArriba {
                width: 170px;
                margin: 5px;
                top: 0;
                left: 0;
            }
        }

        .divRedes {
            float: right;
            margin: 25px 20px 0px 0px;

            .fa-brands {
                font-size: 40px;
                color: $color1;
                margin: 20px;
            }

            .fa-solid {
                font-size: 40px;
                color: $color1;
                margin: 20px;
            }
        }
    }

    .divRedes {
        float: right;
        margin: 25px;

        .logoRedes {
            width: 25px;
            margin: 20px;
        }

        .logoRedesYT {
            width: 35px;
            margin: 20px;
        }
    }

    // nav tablet 

    .navbar {
        background: $color1 !important;

        .navbar-nav {
            display: flex;
            justify-content: space-evenly;
            width: 100%;

            .nav-link {
                color: $color2;
                font-family: $fontTitulo;
                font-size: 18px;
            }

            .nav-link:hover {
                color: $color2;
                font-size: 19px;
            }
        }
    }


    // index.html tablet

    .divLogoInicio {
        text-align: center;

        .logoInicio {
            width: 350px;
            margin-top: 35px;
        }
    }

    .inicio {
        text-align: center;

        .h1Inicio {
            margin: auto;
            font-family: $fontTitulo;
            font-size: 30px;
            text-align: justify;
            text-align-last: center;
            padding: 25px 0px 25px 0px;
            color: $color1;
            width: 90%;
            font-weight: 700;
        }

        .pInicio {
            font-family: $fontNunito;
            margin: auto;
            padding: 10px 0px 30px 0px;
            text-align: left;
            font-size: 22px;
            color: $color1;
            width: 90%;
        }
    }

    hr {
        margin: auto;
        height: 2px;
        background-color: $color1;
        width: 85%;
        text-align: center;
    }

    .ultimoEpisodio {
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 75px 120px 175px 55px 1fr;
        grid-template-areas: "h2UE h2UE"
            "imgUE h3UE"
            "imgUE playUE"
            "imgUE h4UE"
            "imgUE pUE";
        width: 90%;
        margin: auto;
        grid-auto-rows: 0;
        margin-bottom: -50px;
        margin-top: 30px;
        text-align: left;

        .h2UltimoEpisodio {
            grid-area: h2UE;
            font-family: $fontTitulo;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            color: $color1;
            margin-bottom: 0px;
        }

        .imgUltimoEpisodio {
            grid-area: imgUE;
            width: 85%;
            justify-self: start;
            align-self: center;
            margin-right: 15px;
        }

        .h3UltimoEpisodio {
            grid-area: h3UE;
            font-family: $fontNunito;
            color: $color1;
            font-size: 25px;
            font-weight: 700;
            margin: 0px;
        }

        .playerUltimoEpisodio {
            grid-area: playUE;
            margin-bottom: 155px;
        }

        .h4UltimoEpisodio {
            grid-area: h4UE;
            font-family: $fontNunito;
            font-size: 22px;
            color: $color1;
            font-weight: 700;
            margin-top: 15px;
        }

        .pUltimoEpisodio {
            grid-area: pUE;
            font-family: $fontNunito;
            font-size: 22px;
            color: $color1;
            line-height: 35px;
            overflow: visible;
        }
    }

    // footer tablet

    .footer {
        text-align: center;
        background-color: $color1;
        color: $color2;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100px;
        margin-top: 50px;
        padding: 0px;

        .pFooter {
            font-family: $fontTitulo;
            font-size: 18px;
            font-weight: 500;
            color: $color2;
            margin-bottom: 0;

        }

        .imgFooter {
            width: 90px;
        }

        .aFooter {
            color: $color2;
            font-family: $fontTitulo;
            font-size: 18px;
            font-weight: 500;
        }
    }

    // episodios.html 

    .h1Episodios {
        font-family: $fontTitulo;
        text-align: center;
        font-size: 80px;
        margin: 65px;
        color: $color1;
        font-weight: 700;
    }

    // Barra buscar 

    .buscar {
        text-align: center;
        margin-bottom: 100px;

        .buscarEpisodio {
            padding: 15px;
            border-radius: 0px;
            border: solid 1px black;
            font-family: $fontNunito;
            font-size: 20px;
            width: 80%;
        }

        .botonBuscar {
            background-color: $color1;
            color: $color2;
            padding: 15px;
            font-family: $fontNunito;
            border: 0;
            border: solid 1px #000;
            font-size: 20px;
            width: 100px;
        }
    }

    // Episodios 

    .episodios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        justify-content: space-evenly;
        align-content: space-evenly;

        .divEpisodios {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 25% 62% 10%;
            background-color: $color1;
            border-radius: 20px;
            padding: 20px;
            height: 400px;
            width: 380px;
            margin: 0px 0px 00px 0px;
            place-self: center center;
            box-shadow: 15px 15px 25px 0px #000000;
            transition: all 0.7s !important;

            .h3Episodios {
                font-family: $fontTitulo;
                color: $color2;
                text-align: center;
                padding: 10px;
                font-size: 21px;
                font-weight: 700;
            }

            .pEpisodios {
                font-family: $fontNunito;
                color: $color2;
                font-size: 17px;
                margin-top: 30px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 7;
                overflow: hidden;
            }


            .aEpisodios {
                display: inline-block;
                font-family: $fontNunito;
                text-decoration: none;
                color: $color2;
                font-size: 16px;
                font-weight: 700;
                transition: all 0.5s;
            }
        }
        .divEpisodios:hover {
            height: 440px;
            width: 420px;
            

            .h3Episodios {
                font-size: 25px;
            }

            .pEpisodios {
                font-size: 18px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 8;
                overflow: hidden;
            }
        }

        .aEpisodios:hover {
            font-size: 20px;
            text-shadow: 10px 10px 10px #000000;
        }
    }

    .sobreNosotros {
        width: 100%;
        margin: auto;
        text-align: center;

        .h1SobreNosotros {
            font-family: $fontTitulo;
            text-align: center;
            font-size: 60px;
            color: $color1;
            margin: 45px;
            font-weight: 700;
        }

        .imgMarc {
            width: 600px;
            box-shadow: 10px 10px 5px 0px #adadad;
            margin: 0px 0px 15px 0px;
        }

        .imgAlfredo {
            width: 600px;
            box-shadow: 10px 10px 5px 0px #adadad;
            margin: 50px 0px 15px 0px;
        }

        .imgAna {
            width: 600px;
            box-shadow: 10px 10px 5px 0px #adadad;
            margin: 50px 0px 15px 0px;
        }

        .divNosotros {
            background-color: $color1;
            width: 600px;
            margin: auto;
            box-shadow: 10px 10px 5px 0px #adadad;

            .h2Nosotros {
                color: $color2;
                margin: 25px 0px 0px 0px;
                padding: 25px 0px 0px 0px;
                font-size: 40px;
            }

            .pNosotros {
                font-family: $fontNunito;
                color: $color2;
                margin: 25px;
                padding: 25px;
                font-size: 20px;
            }
        }
    }

    // marc_jospitre_consulting.html 

    .jospitreConsulting {
        width: 90%;
        margin: auto;

        .h1AcercaMarc {
            font-family: $fontConsulting;
            text-align: center;
            font-size: 60px;
            color: $color1;
            margin: 45px;
            font-weight: 700;
        }

        .pAcercaMarc {
            font-family: $fontNunito;
            color: $color1;
            font-size: 20px;
        }

        .h2LosImparables {
            font-family: $fontConsulting;
            text-align: center;
            font-size: 60px;
            color: $color1;
            margin: 45px;
            font-weight: 700;
        }

        .h2HistoriaMarc {
            font-family: $fontConsulting;
            text-align: center;
            font-size: 60px;
            color: $color1;
            margin: 45px;
            font-weight: 700;
        }
    }

    .divVideo {
        margin: auto;
        text-align: center;

        .videoMarc {
            width: 90%;
            border-radius: 10px;
        }
    }

    //deja una consulta.html 

    .h1Consulta {
        color: $color1;
        font-family: $fontTitulo;
        text-align: center;
        font-size: 45px;
        color: $color1;
        margin: 25px;
        font-weight: 700;
    }

    .pConsulta {
        font-family: $fontNunito;
        color: $color1;
        font-size: 25px;
        text-align: center;
        margin: 15px;
        font-weight: 700;
    }

    .contacto {
        margin: 35px 20px 0px 20px;
        background-color: $color1;
        color: $color2;
        padding: 20px;

        .formContacto {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 100px, 1fr, 100px;
            grid-gap: 20px;
        }

        .formContacto input,
        .formContacto textarea {
            width: 100%;
            padding: 10px;
            border: none;
            background: none;
            border-bottom: 1px solid $color2;
            outline: none;
            color: $color2;
            font-family: $fontNunito;
        }

        .pConsulta,
        .pButton {
            grid-column: 1 / 4;
        }

        .formContacto:nth-child(4) {
            grid-column: 1 / 4;
        }

        .formContacto label {
            font-size: 20px;
            font-family: $fontNunito;
            color: $color2;
            font-weight: 700;
        }

        .buttonContacto {
            width: 100%;
            padding: 10px;
            border: none;
            background: $color2;
            border-bottom: none;
            outline: none;
            color: $color1;
            font-size: 20px;
            font-weight: 700;
            font-family: $fontNunito;
            grid-column: 1 / 4;
        }
    }
}

@media only screen and (min-width: 1200px) {

    // index desktop 

    .arriba {
        height: 120px;

        .divLogoArriba {
            display: inline-block;

            .imgLogoArriba {
                width: 180px;
                margin: 5px;
                top: 0;
                left: 0;
            }
        }

        .divRedes {
            float: right;
            margin: 25px 20px 0px 0px;

            .fa-brands {
                font-size: 40px;
                color: $color1;
                margin: 20px;
            }

            .fa-solid {
                font-size: 40px;
                color: $color1;
                margin: 20px;
            }
        }
    }

    // nav 

    .navbar {
        background: $color1;
        width: 100%;

        .navbar-nav {
            display: flex;
            justify-content: space-evenly;
            width: 100%;

            .nav-link {
                color: $color2;
                font-family: $fontTitulo;
                font-size: 22px;
            }

            .nav-link:hover {
                color: $color2;
                font-size: 23px;

            }
        }

    }

    // contenido index

    .divLogoInicio {
        text-align: center;

        .logoInicio {
            width: 450px;
            margin-top: 35px;
        }
    }

    .inicio {
        text-align: center;

        .h1Inicio {
            margin: auto;
            font-family: $fontTitulo;
            font-size: 40px;
            text-align: justify;
            text-align-last: center;
            padding: 25px 0px 25px 0px;
            color: $color1;
            width: 90%;
            font-weight: 700;
        }

        .pInicio {
            font-family: $fontNunito;
            margin: auto;
            padding: 10px 0px 30px 0px;
            text-align: left;
            font-size: 25px;
            color: $color1;
            width: 90%;
        }
    }

    hr {
        margin: auto;
        height: 2px;
        background-color: $color1;
        width: 85%;
        text-align: center;
    }

    .ultimoEpisodio {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 75px 75px 175px 55px 1fr;
        grid-template-areas: "h2UE h2UE"
            "imgUE h3UE"
            "imgUE playUE"
            "imgUE h4UE"
            "imgUE pUE";
        width: 90%;
        margin: auto;
        grid-auto-rows: 0;
        margin-bottom: -50px;
        margin-top: 30px;
        text-align: left;

        .h2UltimoEpisodio {
            grid-area: h2UE;
            font-family: $fontTitulo;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            color: $color1;
            margin-bottom: 0px;
        }

        .imgUltimoEpisodio {
            grid-area: imgUE;
            width: 85%;
            justify-self: start;
            align-self: center;
            margin-right: 15px;
        }

        .playerUltimoEpisodio {
            grid-area: playUE;
        }

        .h3UltimoEpisodio {
            grid-area: h3UE;
            font-family: $fontNunito;
            color: $color1;
            font-size: 30px;
            font-weight: 700;
            margin: 0px;
        }

        .h4UltimoEpisodio {
            grid-area: h4UE;
            font-family: $fontNunito;
            font-size: 25px;
            color: $color1;
            font-weight: 700;
            margin-top: 10px;
        }

        .pUltimoEpisodio {
            grid-area: pUE;
            font-family: $fontNunito;
            font-size: 25px;
            color: $color1;
            line-height: 35px;
            overflow: visible;
        }
    }

    // footer 

    .footer {
        text-align: center;
        background-color: $color1;
        color: $color2;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100px;
        margin-top: 100px;
        padding: 0px;
        width: 100%;

        .pFooter {
            font-family: $fontTitulo;
            font-size: 22px;
            font-weight: 500;
            color: $color2;
            align-self: center;
            margin-bottom: 0;

        }

        .imgFooter {
            width: 90px;
        }

        .aFooter {
            color: $color2;
            font-family: $fontTitulo;
            font-size: 22px;
            font-weight: 500;
        }
    }

    // episodios.html 

    .h1Episodios {
        font-family: $fontTitulo;
        text-align: center;
        font-size: 80px;
        margin: 75px;
        color: $color1;
        font-weight: 700;
    }

    // Barra buscar 

    .buscar {
        text-align: center;
        margin-bottom: 100px;

        .buscarEpisodio {
            padding: 15px;
            border-radius: 0px;
            border: solid 1px black;
            font-family: $fontNunito;
            font-size: 20px;
            width: 88%;
        }

        .botonBuscar {
            background-color: $color1;
            color: $color2;
            padding: 15px;
            font-family: $fontNunito;
            border: 0;
            border: solid 1px #000;
            font-size: 20px;
            width: 100px;
        }
    }

    // Episodios 

    .episodios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        justify-content: space-evenly;
        align-content: space-evenly;


        .divEpisodios {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 35% 45% 5%;
            background-color: $color1;
            border-radius: 20px;
            padding: 15px;
            height: 400px;
            width: 75%;
            margin: 0px 0px 80px 0px;
            place-self: center center;
            box-shadow: 15px 15px 25px 0px #000000;
            transition: all 0.5s !important;

            .h3Episodios {
                font-family: $fontTitulo;
                color: $color2;
                text-align: center;
                padding: 20px 0px 0px 0px;
                font-size: 18px;
                font-weight: 700;
            }

            .pEpisodios {
                font-family: $fontNunito;
                color: $color2;
                font-size: 15px;
                margin-top: 5px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 7;
                overflow: hidden;
            }

            .aEpisodios {
                display: inline-block;
                font-family: $fontNunito;
                text-decoration: none;
                color: $color2;
                font-size: 16px;
                font-weight: 700;
                transition: all 0.5s;
            }
        }

        .divEpisodios:hover {
            height: 450px;
            width: 80%;
            .h3Episodios {
                font-size: 19px;
            }

            .pEpisodios {
                font-size: 16px;
            }
        }

        .aEpisodios:hover {
            font-size: 20px;
            text-shadow: 10px 10px 10px #000000;
        }
    }

    // consulta.html 

    .contacto {
        margin: 25px;
    }

    // sobre_nosotros.html 

    .sobreNosotros {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px 1fr;

        .h1SobreNosotros {
            font-family: $fontTitulo;
            text-align: center;
            font-size: 80px;
            color: $color1;
            font-weight: 700;
            grid-column: 1/4;
        }

        .imgMarc {
            width: 80%;
            margin: 0;
        }

        .imgAlfredo {
            width: 80%;
            margin: 0;
        }

        .imgAna {
            width: 80%;
            margin: 0;
        }

        .divNosotros {
            background-color: $color1;
            width: 80%;
            margin: auto;
            box-shadow: 10px 10px 5px 0px #adadad;

            .h2Nosotros {
                color: $color2;
                margin: 25px 0px 0px 0px;
                padding: 25px 10px 0px 10px;
                font-size: 40px;
            }

            .pNosotros {
                font-family: $fontNunito;
                color: $color2;
                margin: 0px;
                padding: 25px;
                font-size: 20px;
            }
        }
    }

    // marc_jospitre_consulting.html 

    .jospitreConsulting {
        width: 90%;
        margin: auto;

        .h1AcercaMarc {
            font-family: $fontConsulting;
            text-align: center;
            font-size: 75px;
            color: $color1;
            margin: 45px;
            font-weight: 700;
        }

        .pAcercaMarc {
            font-family: $fontNunito;
            color: $color1;
            font-size: 25px;
        }

        .h2LosImparables {
            font-family: $fontConsulting;
            text-align: center;
            font-size: 75px;
            color: $color1;
            margin: 45px;
            font-weight: 700;
        }

        .h2HistoriaMarc {
            font-family: $fontConsulting;
            text-align: center;
            font-size: 75px;
            color: $color1;
            margin: 45px;
            font-weight: 700;
        }
    }

    .divVideo {
        margin: auto;
        text-align: center;

        .videoMarc {
            width: 90%;
        }
    }

    //deja una consulta.html 

    .h1Consulta {
        color: $color1;
        font-family: $fontTitulo;
        text-align: center;
        font-size: 45px;
        color: $color1;
        margin: 55px 25px 75px 25px;
        font-weight: 700;
    }

    .pConsulta {
        font-family: $fontNunito;
        color: $color1;
        font-size: 25px;
        text-align: center;
        margin: 25px;
        font-weight: 700;
    }

    .contacto {
        margin: auto;
        background-color: $color1;
        color: $color2;
        padding: 20px;
        width: 85%;
        margin-top: 75px;

        .formContacto {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 100px, 1fr, 100px;
            grid-gap: 20px;
        }

        .formContacto input,
        .formContacto textarea {
            width: 100%;
            padding: 10px;
            border: none;
            background: none;
            border-bottom: 1px solid $color2;
            outline: none;
            color: $color2;
            font-family: $fontNunito;
        }

        .pConsulta,
        .pButton {
            grid-column: 1 / 4;
        }

        .formContacto label {
            font-size: 25px;
            font-family: $fontNunito;
            color: $color2;
            font-weight: 700;
        }

        .buttonContacto {
            width: 100%;
            padding: 10px;
            border: none;
            background: $color2;
            border-bottom: none;
            outline: none;
            color: $color1;
            font-size: 25px;
            font-weight: 700;
            font-family: $fontNunito;
            grid-column: 1 / 4;
        }

        .buttonContacto:hover {
            background: rgb(22, 101, 212);
            transition: background-color 0.5s ease-in-out;
            color: $color2;
        }
    }
}


@media only screen and (min-width: 1600px) {
    .episodios {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        justify-content: space-evenly;
        align-content: space-evenly;
        

        .divEpisodios {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 35% 50% 5%;
            background-color: $color1;
            border-radius: 20px;
            padding: 15px;
            height: 400px;
            width: 75%;
            margin: 0px 0px 60px 0px;
            place-self: center center;
            box-shadow: 15px 15px 25px 0px #000000;
            transition: all 0.7s !important;


            .h3Episodios {
                font-family: $fontTitulo;
                color: $color2;
                text-align: center;
                padding: 20px 0px 0px 0px;
                font-size: 22px;
                font-weight: 700;
            }

            .pEpisodios {
                font-family: $fontNunito;
                color: $color2;
                font-size: 15px;
                margin-top: 5px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 8;
                overflow: hidden;
            }

            .aEpisodios {
                display: inline-block;
                font-family: $fontNunito;
                text-decoration: none;
                color: $color2;
                font-size: 16px;
                font-weight: 700;
                transition: all 0.5s;
            }
        }
        
        .divEpisodios:hover {
            height: 450px;
            width: 80%;
            

            .h3Episodios {
                font-size: 23px;
                
            }

            .pEpisodios {
                font-size: 17px;
            }
        }

        .aEpisodios:hover {
            font-size: 20px;
            text-shadow: 10px 10px 10px #000000;
        }
    }
}
            // .divEpisodios::after {
            //     position: absolute;
            //     border-radius: 20px;
            //     content: " ";
            //     top: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 100%;
            //     background-image: url(/Assets/IMG/fondoepisodios.jpg);
            //     background-size: contain;
            //     z-index: -1;
            //     filter: blur(2px) brightness(0.8);
            // }