@import url("https://fonts.googleapis.com/css2?family=Allura&family=Nunito+Sans:wght@300;400;600;700;800&family=Work+Sans:wght@500;600;700;800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: Bacalisties;
  src: url(../Assets/FONTS/Bacalisties.ttf);
}
@font-face {
  font-family: MuseSans;
  src: url(../Assets/FONTS/MuseoSans-500.otf);
  font-weight: 500;
}
@font-face {
  font-family: MuseSans;
  src: url(../Assets/FONTS/MuseoSans-700.otf);
  font-weight: 700;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}

.arriba {
  height: 120px;
}
.arriba .divLogoArriba {
  display: inline-block;
}
.arriba .divLogoArriba .imgLogoArriba {
  width: 130px;
  margin: 20px 10px 10px 10px;
  top: 0;
  left: 0;
}
.arriba .divRedes {
  float: right;
  margin: 35px 0px 0px 0px;
}
.arriba .divRedes .fa-brands {
  font-size: 30px;
  color: #0D223F;
  margin: 10px;
}
.arriba .divRedes .fa-solid {
  font-size: 30px;
  color: #0D223F;
  margin: 10px;
}

.navbar {
  background: #0D223F !important;
}
.navbar .navbar-toggler {
  border: 1px solid #fff;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar .nav-link {
  color: #fff;
  font-family: MuseSans;
  font-size: 21px;
}
.navbar .nav-link:hover {
  color: #fff;
  font-size: 22px;
}

.divLogoInicio {
  text-align: center;
}
.divLogoInicio .logoInicio {
  width: 250px;
  margin-top: 25px;
}

.inicio {
  text-align: center;
}
.inicio .h1Inicio {
  margin: auto;
  font-family: MuseSans;
  font-size: 27px;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
  padding: 35px 0px 25px 0px;
  color: #0D223F;
  width: 90%;
  font-weight: 500;
}
.inicio .pInicio {
  font-family: "Nunito Sans", sans-serif;
  margin: auto;
  padding: 10px 0px 30px 0px;
  text-align: left;
  font-size: 22px;
  color: #0D223F;
  width: 90%;
  line-height: 32px;
  font-weight: 500;
}

hr {
  margin: auto;
  height: 3px;
  background-color: #0D223F;
  width: 85%;
  text-align: center;
  opacity: 1;
}

.ultimoEpisodio {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 30px;
  text-align: center;
}
.ultimoEpisodio .h2UltimoEpisodio {
  font-family: MuseSans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  color: #0D223F;
  text-align: left;
  margin-bottom: 15px;
}
.ultimoEpisodio .imgUltimoEpisodio {
  width: 280px;
  text-align: center;
}
.ultimoEpisodio .h3UltimoEpisodio {
  font-family: "Nunito Sans", sans-serif;
  color: #0D223F;
  font-size: 26px;
  margin: 25px 0px 15px 0px;
  text-align: left;
  font-weight: 700;
}
.ultimoEpisodio .playerUltimoEpisodio {
  margin-bottom: 25px;
}
.ultimoEpisodio .h4UltimoEpisodio {
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  color: #0D223F;
  font-weight: 700;
  text-align: left;
}
.ultimoEpisodio .pUltimoEpisodio {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  color: #0D223F;
  line-height: 35px;
  margin: 25px 0px 25px 0px;
  text-align: left;
  font-weight: 500;
}

.footer {
  text-align: center;
  background-color: #0D223F;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  margin-top: 50px;
  padding: 10px;
}
.footer .pFooter {
  font-family: MuseSans;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
}
.footer .imgFooter {
  width: 90px;
}
.footer .aFooter {
  color: #fff;
  font-family: MuseSans;
  font-size: 16px;
  font-weight: 500;
}

.h1Episodios {
  font-family: MuseSans;
  text-align: center;
  font-size: 50px;
  color: #0D223F;
  margin: 55px;
  font-weight: 700;
}

.buscar {
  text-align: center;
  margin-bottom: 100px;
}
.buscar .buscarEpisodio {
  padding: 15px;
  border-radius: 0px;
  border: solid 1px black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
}
.buscar .botonBuscar {
  background-color: #0D223F;
  color: #fff;
  padding: 15px;
  font-family: "Nunito Sans", sans-serif;
  border: solid 1px #000;
  font-size: 20px;
  width: 100px;
}

.episodios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-gap: 20px;
}
.episodios .divEpisodios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 65% 10%;
  background-color: #0D223F;
  border-radius: 20px;
  padding: 25px;
  height: 400px;
  width: 75%;
  place-self: center center;
}
.episodios .divEpisodios .h3Episodios {
  font-family: MuseSans;
  color: #fff;
  text-align: center;
  padding: 0px 10px 10px 10px;
  font-size: 18px;
  font-weight: 700;
}
.episodios .divEpisodios .pEpisodios {
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
  margin-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  font-size: 17px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}
.episodios .divEpisodios .aEpisodios {
  display: inline-block;
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.sobreNosotros {
  width: 100%;
  margin: auto;
  text-align: center;
}
.sobreNosotros .h1SobreNosotros {
  font-family: MuseSans;
  text-align: center;
  font-size: 50px;
  color: #0D223F;
  margin: 45px;
  font-weight: 700;
}
.sobreNosotros .imgMarc {
  width: 85%;
  box-shadow: 10px 10px 5px 0px #adadad;
  margin: 0px 0px 15px 0px;
}
.sobreNosotros .imgAlfredo {
  width: 85%;
  box-shadow: 10px 10px 5px 0px #adadad;
  margin: 50px 0px 15px 0px;
}
.sobreNosotros .imgAna {
  width: 85%;
  box-shadow: 10px 10px 5px 0px #adadad;
  margin: 50px 0px 15px 0px;
}
.sobreNosotros .divNosotros {
  background-color: #0D223F;
  width: 85%;
  margin: auto;
  box-shadow: 10px 10px 5px 0px #adadad;
}
.sobreNosotros .divNosotros .h2Nosotros {
  color: #fff;
  margin: 25px 0px 0px 0px;
  padding: 25px 0px 0px 0px;
  font-size: 40px;
}
.sobreNosotros .divNosotros .pNosotros {
  color: #fff;
  margin: 25px;
  padding: 25px;
  font-size: 20px;
}

.jospitreConsulting {
  width: 90%;
  margin: auto;
}
.jospitreConsulting .h1AcercaMarc {
  font-family: Bacalisties;
  text-align: center;
  font-size: 40px;
  color: #0D223F;
  margin: 25px;
  font-weight: 700;
}
.jospitreConsulting .pAcercaMarc {
  color: #0D223F;
  font-size: 15px;
}
.jospitreConsulting .h2LosImparables {
  font-family: Bacalisties;
  text-align: center;
  font-size: 40px;
  color: #0D223F;
  margin: 25px;
  font-weight: 700;
}
.jospitreConsulting .h2HistoriaMarc {
  font-family: Bacalisties;
  text-align: center;
  font-size: 40px;
  color: #0D223F;
  margin: 25px;
  font-weight: 700;
}

.divVideo {
  margin: auto;
  text-align: center;
  margin-bottom: -20px;
}
.divVideo .videoMarc {
  width: 90%;
  border-radius: 10px;
}

.h1Consulta {
  color: #0D223F;
  font-family: MuseSans;
  text-align: center;
  font-size: 40px;
  color: #0D223F;
  margin: 50px 25px 35px 25px;
  font-weight: 700;
}

.pConsulta {
  font-family: "Nunito Sans", sans-serif;
  color: #0D223F;
  font-size: 20px;
  text-align: center;
  margin: 15px;
  font-weight: 700;
}

.contacto {
  margin: 35px;
  background-color: #0D223F;
  color: #fff;
  padding: 10px;
}
.contacto .formContacto input,
.contacto .formContacto textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
}
.contacto .formContacto label {
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
  font-weight: 700;
}
.contacto .buttonContacto {
  width: 100%;
  padding: 10px;
  border: none;
  background: #fff;
  border-bottom: none;
  outline: none;
  color: #0D223F;
  font-size: 20px;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
}

@media only screen and (min-width: 768px) {
  .arriba {
    height: 120px;
  }
  .arriba .divLogoArriba {
    display: inline-block;
  }
  .arriba .divLogoArriba .imgLogoArriba {
    width: 170px;
    margin: 5px;
    top: 0;
    left: 0;
  }
  .arriba .divRedes {
    float: right;
    margin: 25px 20px 0px 0px;
  }
  .arriba .divRedes .fa-brands {
    font-size: 40px;
    color: #0D223F;
    margin: 20px;
  }
  .arriba .divRedes .fa-solid {
    font-size: 40px;
    color: #0D223F;
    margin: 20px;
  }
  .divRedes {
    float: right;
    margin: 25px;
  }
  .divRedes .logoRedes {
    width: 25px;
    margin: 20px;
  }
  .divRedes .logoRedesYT {
    width: 35px;
    margin: 20px;
  }
  .navbar {
    background: #0D223F !important;
  }
  .navbar .navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .navbar .navbar-nav .nav-link {
    color: #fff;
    font-family: MuseSans;
    font-size: 18px;
  }
  .navbar .navbar-nav .nav-link:hover {
    color: #fff;
    font-size: 19px;
  }
  .divLogoInicio {
    text-align: center;
  }
  .divLogoInicio .logoInicio {
    width: 350px;
    margin-top: 35px;
  }
  .inicio {
    text-align: center;
  }
  .inicio .h1Inicio {
    margin: auto;
    font-family: MuseSans;
    font-size: 30px;
    text-align: justify;
    -moz-text-align-last: center;
         text-align-last: center;
    padding: 25px 0px 25px 0px;
    color: #0D223F;
    width: 90%;
    font-weight: 700;
  }
  .inicio .pInicio {
    font-family: "Nunito Sans", sans-serif;
    margin: auto;
    padding: 10px 0px 30px 0px;
    text-align: left;
    font-size: 22px;
    color: #0D223F;
    width: 90%;
  }
  hr {
    margin: auto;
    height: 2px;
    background-color: #0D223F;
    width: 85%;
    text-align: center;
  }
  .ultimoEpisodio {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 75px 120px 175px 55px 1fr;
    grid-template-areas: "h2UE h2UE" "imgUE h3UE" "imgUE playUE" "imgUE h4UE" "imgUE pUE";
    width: 90%;
    margin: auto;
    grid-auto-rows: 0;
    margin-bottom: -50px;
    margin-top: 30px;
    text-align: left;
  }
  .ultimoEpisodio .h2UltimoEpisodio {
    grid-area: h2UE;
    font-family: MuseSans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    color: #0D223F;
    margin-bottom: 0px;
  }
  .ultimoEpisodio .imgUltimoEpisodio {
    grid-area: imgUE;
    width: 85%;
    justify-self: start;
    align-self: center;
    margin-right: 15px;
  }
  .ultimoEpisodio .h3UltimoEpisodio {
    grid-area: h3UE;
    font-family: "Nunito Sans", sans-serif;
    color: #0D223F;
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
  }
  .ultimoEpisodio .playerUltimoEpisodio {
    grid-area: playUE;
    margin-bottom: 155px;
  }
  .ultimoEpisodio .h4UltimoEpisodio {
    grid-area: h4UE;
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
    color: #0D223F;
    font-weight: 700;
    margin-top: 15px;
  }
  .ultimoEpisodio .pUltimoEpisodio {
    grid-area: pUE;
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
    color: #0D223F;
    line-height: 35px;
    overflow: visible;
  }
  .footer {
    text-align: center;
    background-color: #0D223F;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    margin-top: 50px;
    padding: 0px;
  }
  .footer .pFooter {
    font-family: MuseSans;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
  }
  .footer .imgFooter {
    width: 90px;
  }
  .footer .aFooter {
    color: #fff;
    font-family: MuseSans;
    font-size: 18px;
    font-weight: 500;
  }
  .h1Episodios {
    font-family: MuseSans;
    text-align: center;
    font-size: 80px;
    margin: 65px;
    color: #0D223F;
    font-weight: 700;
  }
  .buscar {
    text-align: center;
    margin-bottom: 100px;
  }
  .buscar .buscarEpisodio {
    padding: 15px;
    border-radius: 0px;
    border: solid 1px black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    width: 80%;
  }
  .buscar .botonBuscar {
    background-color: #0D223F;
    color: #fff;
    padding: 15px;
    font-family: "Nunito Sans", sans-serif;
    border: 0;
    border: solid 1px #000;
    font-size: 20px;
    width: 100px;
  }
  .episodios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    justify-content: space-evenly;
    align-content: space-evenly;
  }
  .episodios .divEpisodios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 62% 10%;
    background-color: #0D223F;
    border-radius: 20px;
    padding: 20px;
    height: 400px;
    width: 380px;
    margin: 0px 0px 0px 0px;
    place-self: center center;
    box-shadow: 15px 15px 25px 0px #000000;
    transition: all 0.7s !important;
  }
  .episodios .divEpisodios .h3Episodios {
    font-family: MuseSans;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 21px;
    font-weight: 700;
  }
  .episodios .divEpisodios .pEpisodios {
    font-family: "Nunito Sans", sans-serif;
    color: #fff;
    font-size: 17px;
    margin-top: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
  }
  .episodios .divEpisodios .aEpisodios {
    display: inline-block;
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.5s;
  }
  .episodios .divEpisodios:hover {
    height: 440px;
    width: 420px;
  }
  .episodios .divEpisodios:hover .h3Episodios {
    font-size: 25px;
  }
  .episodios .divEpisodios:hover .pEpisodios {
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
  }
  .episodios .aEpisodios:hover {
    font-size: 20px;
    text-shadow: 10px 10px 10px #000000;
  }
  .sobreNosotros {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .sobreNosotros .h1SobreNosotros {
    font-family: MuseSans;
    text-align: center;
    font-size: 60px;
    color: #0D223F;
    margin: 45px;
    font-weight: 700;
  }
  .sobreNosotros .imgMarc {
    width: 600px;
    box-shadow: 10px 10px 5px 0px #adadad;
    margin: 0px 0px 15px 0px;
  }
  .sobreNosotros .imgAlfredo {
    width: 600px;
    box-shadow: 10px 10px 5px 0px #adadad;
    margin: 50px 0px 15px 0px;
  }
  .sobreNosotros .imgAna {
    width: 600px;
    box-shadow: 10px 10px 5px 0px #adadad;
    margin: 50px 0px 15px 0px;
  }
  .sobreNosotros .divNosotros {
    background-color: #0D223F;
    width: 600px;
    margin: auto;
    box-shadow: 10px 10px 5px 0px #adadad;
  }
  .sobreNosotros .divNosotros .h2Nosotros {
    color: #fff;
    margin: 25px 0px 0px 0px;
    padding: 25px 0px 0px 0px;
    font-size: 40px;
  }
  .sobreNosotros .divNosotros .pNosotros {
    font-family: "Nunito Sans", sans-serif;
    color: #fff;
    margin: 25px;
    padding: 25px;
    font-size: 20px;
  }
  .jospitreConsulting {
    width: 90%;
    margin: auto;
  }
  .jospitreConsulting .h1AcercaMarc {
    font-family: Bacalisties;
    text-align: center;
    font-size: 60px;
    color: #0D223F;
    margin: 45px;
    font-weight: 700;
  }
  .jospitreConsulting .pAcercaMarc {
    font-family: "Nunito Sans", sans-serif;
    color: #0D223F;
    font-size: 20px;
  }
  .jospitreConsulting .h2LosImparables {
    font-family: Bacalisties;
    text-align: center;
    font-size: 60px;
    color: #0D223F;
    margin: 45px;
    font-weight: 700;
  }
  .jospitreConsulting .h2HistoriaMarc {
    font-family: Bacalisties;
    text-align: center;
    font-size: 60px;
    color: #0D223F;
    margin: 45px;
    font-weight: 700;
  }
  .divVideo {
    margin: auto;
    text-align: center;
  }
  .divVideo .videoMarc {
    width: 90%;
    border-radius: 10px;
  }
  .h1Consulta {
    color: #0D223F;
    font-family: MuseSans;
    text-align: center;
    font-size: 45px;
    color: #0D223F;
    margin: 25px;
    font-weight: 700;
  }
  .pConsulta {
    font-family: "Nunito Sans", sans-serif;
    color: #0D223F;
    font-size: 25px;
    text-align: center;
    margin: 15px;
    font-weight: 700;
  }
  .contacto {
    margin: 35px 20px 0px 20px;
    background-color: #0D223F;
    color: #fff;
    padding: 20px;
  }
  .contacto .formContacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px, 1fr, 100px;
    grid-gap: 20px;
  }
  .contacto .formContacto input,
  .contacto .formContacto textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
  }
  .contacto .pConsulta,
  .contacto .pButton {
    grid-column: 1/4;
  }
  .contacto .formContacto:nth-child(4) {
    grid-column: 1/4;
  }
  .contacto .formContacto label {
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
    color: #fff;
    font-weight: 700;
  }
  .contacto .buttonContacto {
    width: 100%;
    padding: 10px;
    border: none;
    background: #fff;
    border-bottom: none;
    outline: none;
    color: #0D223F;
    font-size: 20px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    grid-column: 1/4;
  }
}
@media only screen and (min-width: 1200px) {
  .arriba {
    height: 120px;
  }
  .arriba .divLogoArriba {
    display: inline-block;
  }
  .arriba .divLogoArriba .imgLogoArriba {
    width: 180px;
    margin: 5px;
    top: 0;
    left: 0;
  }
  .arriba .divRedes {
    float: right;
    margin: 25px 20px 0px 0px;
  }
  .arriba .divRedes .fa-brands {
    font-size: 40px;
    color: #0D223F;
    margin: 20px;
  }
  .arriba .divRedes .fa-solid {
    font-size: 40px;
    color: #0D223F;
    margin: 20px;
  }
  .navbar {
    background: #0D223F;
    width: 100%;
  }
  .navbar .navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .navbar .navbar-nav .nav-link {
    color: #fff;
    font-family: MuseSans;
    font-size: 22px;
  }
  .navbar .navbar-nav .nav-link:hover {
    color: #fff;
    font-size: 23px;
  }
  .divLogoInicio {
    text-align: center;
  }
  .divLogoInicio .logoInicio {
    width: 450px;
    margin-top: 35px;
  }
  .inicio {
    text-align: center;
  }
  .inicio .h1Inicio {
    margin: auto;
    font-family: MuseSans;
    font-size: 40px;
    text-align: justify;
    -moz-text-align-last: center;
         text-align-last: center;
    padding: 25px 0px 25px 0px;
    color: #0D223F;
    width: 90%;
    font-weight: 700;
  }
  .inicio .pInicio {
    font-family: "Nunito Sans", sans-serif;
    margin: auto;
    padding: 10px 0px 30px 0px;
    text-align: left;
    font-size: 25px;
    color: #0D223F;
    width: 90%;
  }
  hr {
    margin: auto;
    height: 2px;
    background-color: #0D223F;
    width: 85%;
    text-align: center;
  }
  .ultimoEpisodio {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 75px 75px 175px 55px 1fr;
    grid-template-areas: "h2UE h2UE" "imgUE h3UE" "imgUE playUE" "imgUE h4UE" "imgUE pUE";
    width: 90%;
    margin: auto;
    grid-auto-rows: 0;
    margin-bottom: -50px;
    margin-top: 30px;
    text-align: left;
  }
  .ultimoEpisodio .h2UltimoEpisodio {
    grid-area: h2UE;
    font-family: MuseSans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    color: #0D223F;
    margin-bottom: 0px;
  }
  .ultimoEpisodio .imgUltimoEpisodio {
    grid-area: imgUE;
    width: 85%;
    justify-self: start;
    align-self: center;
    margin-right: 15px;
  }
  .ultimoEpisodio .playerUltimoEpisodio {
    grid-area: playUE;
  }
  .ultimoEpisodio .h3UltimoEpisodio {
    grid-area: h3UE;
    font-family: "Nunito Sans", sans-serif;
    color: #0D223F;
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
  }
  .ultimoEpisodio .h4UltimoEpisodio {
    grid-area: h4UE;
    font-family: "Nunito Sans", sans-serif;
    font-size: 25px;
    color: #0D223F;
    font-weight: 700;
    margin-top: 10px;
  }
  .ultimoEpisodio .pUltimoEpisodio {
    grid-area: pUE;
    font-family: "Nunito Sans", sans-serif;
    font-size: 25px;
    color: #0D223F;
    line-height: 35px;
    overflow: visible;
  }
  .footer {
    text-align: center;
    background-color: #0D223F;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    margin-top: 100px;
    padding: 0px;
    width: 100%;
  }
  .footer .pFooter {
    font-family: MuseSans;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    align-self: center;
    margin-bottom: 0;
  }
  .footer .imgFooter {
    width: 90px;
  }
  .footer .aFooter {
    color: #fff;
    font-family: MuseSans;
    font-size: 22px;
    font-weight: 500;
  }
  .h1Episodios {
    font-family: MuseSans;
    text-align: center;
    font-size: 80px;
    margin: 75px;
    color: #0D223F;
    font-weight: 700;
  }
  .buscar {
    text-align: center;
    margin-bottom: 100px;
  }
  .buscar .buscarEpisodio {
    padding: 15px;
    border-radius: 0px;
    border: solid 1px black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    width: 88%;
  }
  .buscar .botonBuscar {
    background-color: #0D223F;
    color: #fff;
    padding: 15px;
    font-family: "Nunito Sans", sans-serif;
    border: 0;
    border: solid 1px #000;
    font-size: 20px;
    width: 100px;
  }
  .episodios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    justify-content: space-evenly;
    align-content: space-evenly;
  }
  .episodios .divEpisodios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35% 45% 5%;
    background-color: #0D223F;
    border-radius: 20px;
    padding: 15px;
    height: 400px;
    width: 75%;
    margin: 0px 0px 80px 0px;
    place-self: center center;
    box-shadow: 15px 15px 25px 0px #000000;
    transition: all 0.5s !important;
  }
  .episodios .divEpisodios .h3Episodios {
    font-family: MuseSans;
    color: #fff;
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-size: 18px;
    font-weight: 700;
  }
  .episodios .divEpisodios .pEpisodios {
    font-family: "Nunito Sans", sans-serif;
    color: #fff;
    font-size: 15px;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
  }
  .episodios .divEpisodios .aEpisodios {
    display: inline-block;
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.5s;
  }
  .episodios .divEpisodios:hover {
    height: 450px;
    width: 80%;
  }
  .episodios .divEpisodios:hover .h3Episodios {
    font-size: 19px;
  }
  .episodios .divEpisodios:hover .pEpisodios {
    font-size: 16px;
  }
  .episodios .aEpisodios:hover {
    font-size: 20px;
    text-shadow: 10px 10px 10px #000000;
  }
  .contacto {
    margin: 25px;
  }
  .sobreNosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 1fr;
  }
  .sobreNosotros .h1SobreNosotros {
    font-family: MuseSans;
    text-align: center;
    font-size: 80px;
    color: #0D223F;
    font-weight: 700;
    grid-column: 1/4;
  }
  .sobreNosotros .imgMarc {
    width: 80%;
    margin: 0;
  }
  .sobreNosotros .imgAlfredo {
    width: 80%;
    margin: 0;
  }
  .sobreNosotros .imgAna {
    width: 80%;
    margin: 0;
  }
  .sobreNosotros .divNosotros {
    background-color: #0D223F;
    width: 80%;
    margin: auto;
    box-shadow: 10px 10px 5px 0px #adadad;
  }
  .sobreNosotros .divNosotros .h2Nosotros {
    color: #fff;
    margin: 25px 0px 0px 0px;
    padding: 25px 10px 0px 10px;
    font-size: 40px;
  }
  .sobreNosotros .divNosotros .pNosotros {
    font-family: "Nunito Sans", sans-serif;
    color: #fff;
    margin: 0px;
    padding: 25px;
    font-size: 20px;
  }
  .jospitreConsulting {
    width: 90%;
    margin: auto;
  }
  .jospitreConsulting .h1AcercaMarc {
    font-family: Bacalisties;
    text-align: center;
    font-size: 75px;
    color: #0D223F;
    margin: 45px;
    font-weight: 700;
  }
  .jospitreConsulting .pAcercaMarc {
    font-family: "Nunito Sans", sans-serif;
    color: #0D223F;
    font-size: 25px;
  }
  .jospitreConsulting .h2LosImparables {
    font-family: Bacalisties;
    text-align: center;
    font-size: 75px;
    color: #0D223F;
    margin: 45px;
    font-weight: 700;
  }
  .jospitreConsulting .h2HistoriaMarc {
    font-family: Bacalisties;
    text-align: center;
    font-size: 75px;
    color: #0D223F;
    margin: 45px;
    font-weight: 700;
  }
  .divVideo {
    margin: auto;
    text-align: center;
  }
  .divVideo .videoMarc {
    width: 90%;
  }
  .h1Consulta {
    color: #0D223F;
    font-family: MuseSans;
    text-align: center;
    font-size: 45px;
    color: #0D223F;
    margin: 55px 25px 75px 25px;
    font-weight: 700;
  }
  .pConsulta {
    font-family: "Nunito Sans", sans-serif;
    color: #0D223F;
    font-size: 25px;
    text-align: center;
    margin: 25px;
    font-weight: 700;
  }
  .contacto {
    margin: auto;
    background-color: #0D223F;
    color: #fff;
    padding: 20px;
    width: 85%;
    margin-top: 75px;
  }
  .contacto .formContacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px, 1fr, 100px;
    grid-gap: 20px;
  }
  .contacto .formContacto input,
  .contacto .formContacto textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
  }
  .contacto .pConsulta,
  .contacto .pButton {
    grid-column: 1/4;
  }
  .contacto .formContacto label {
    font-size: 25px;
    font-family: "Nunito Sans", sans-serif;
    color: #fff;
    font-weight: 700;
  }
  .contacto .buttonContacto {
    width: 100%;
    padding: 10px;
    border: none;
    background: #fff;
    border-bottom: none;
    outline: none;
    color: #0D223F;
    font-size: 25px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    grid-column: 1/4;
  }
  .contacto .buttonContacto:hover {
    background: rgb(22, 101, 212);
    transition: background-color 0.5s ease-in-out;
    color: #fff;
  }
}
@media only screen and (min-width: 1600px) {
  .episodios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    justify-content: space-evenly;
    align-content: space-evenly;
  }
  .episodios .divEpisodios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35% 50% 5%;
    background-color: #0D223F;
    border-radius: 20px;
    padding: 15px;
    height: 400px;
    width: 75%;
    margin: 0px 0px 60px 0px;
    place-self: center center;
    box-shadow: 15px 15px 25px 0px #000000;
    transition: all 0.7s !important;
  }
  .episodios .divEpisodios .h3Episodios {
    font-family: MuseSans;
    color: #fff;
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-size: 22px;
    font-weight: 700;
  }
  .episodios .divEpisodios .pEpisodios {
    font-family: "Nunito Sans", sans-serif;
    color: #fff;
    font-size: 15px;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
  }
  .episodios .divEpisodios .aEpisodios {
    display: inline-block;
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.5s;
  }
  .episodios .divEpisodios:hover {
    height: 450px;
    width: 80%;
  }
  .episodios .divEpisodios:hover .h3Episodios {
    font-size: 23px;
  }
  .episodios .divEpisodios:hover .pEpisodios {
    font-size: 17px;
  }
  .episodios .aEpisodios:hover {
    font-size: 20px;
    text-shadow: 10px 10px 10px #000000;
  }
}/*# sourceMappingURL=style.css.map */